    SUPABASE_URL= https://kkydlqwijyvmdohnpggu.supabase.co
    SUPABASE_SERVICE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtreWRscXdpanl2bWRvaG5wZ2d1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzE3MDgyMCwiZXhwIjoyMDYyNzQ2ODIwfQ.h7-oyzvBnqrg9J-NXVqDHRyxu6yJmy5Mnq7XeCxOHFg